.master3 {
    background-image: url("register2.jpeg");
    background-size: cover;
    /* filter: blur(8px); */
    margin: 0px;
    height: 100vh;
    width: 51.2%;
    opacity: 20%;

}

.master {


    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.loginForm {
    margin-left: 160px;
    margin-top: 70px;
    margin-right: 80px;
    background-color: white;
    border-radius: 1rem;
    height: 80%;
    width: 510px;
}

.signIn {
    font-size: 40px;
    padding-top: 120px;
    margin: auto;
    width: 35%;
    color: #43544a;
}

.inputFields {
    /* margin: 15px 0; */
    font-family: 'Comfortaa';
    font-size: 16px;
    padding-top: 60px;
    width: 300px;
    border: 1px solid #43544a;
    border-top: none;
    border-left: none;
    border-right: none;
    /* background: rgba(20, 20, 20, .2); */
    color: #43544a;
    outline: none;
}

::placeholder {
    color: #43544a;
    text-align: center;
}

.signInForm {
    margin: auto;
    width: 60%;
}

.join-btn {
    font-family: 'Comfortaa';
    /* border: 1px solid #5D5C61; */
    background: #43544a;
    font-size: 22px;
    color: white;
    margin-top: 60px;
    margin-left: 30px;
    padding: 10px 80px;
    cursor: pointer;
    transition: .4s;
    /* margin: auto;
    width: 70%; */
}

.join-btn:hover {
    background-color: #d9dbda;
    color: #43544a;
}

.signUpPrompt {
    margin: auto;
    padding-left: 30px;
    width: 50%;
    color: #43544a;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    /* backdrop-filter: blur(200px); */
}

.join-btn2 {
    font-family: 'Comfortaa';
    /* border: 1px solid #B1A296; */
    background: white;
    font-size: 22px;
    color: black;
    /* margin-top: 60px; */
    /* margin-left: 60px; */
    padding: 10px 80px;
    cursor: pointer;
    transition: .4s;
    /* margin: auto;
    width: 70%; */


}

.join-btn2:hover {
    background: #43544a;
    /* padding: 10px 80px; */
}